# For testing github actions scripts locally with 'act'.
# Remove comment on actual .secrets file

VERCEL_ORG_ID='VERCEL_ORG_ID Goes Here'
VERCEL_PROJECT_ID='VERCEL_PROJECT_ID Goes Here'
VERCEL_TOKEN='VERCEL_TOKEN Goes Here'